<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{NORMAL/Base::layout(~{::section})}">
<head>
    <meta charset="UTF-8" />
    <title>Private Dashboard</title>
    <!-- Link to external CSS for the page styling -->
    <link rel="stylesheet" href="/css/user-dashboard.css" />
</head>
<body>

    <!-- Background image container -->
   
<section class="home-gradient-section">
    <div class="text-center-content">
        <p class="small-heading"> THIS IS PRIVATE DASHBORED</p>
        <h1 class="home-bold-title">Hi ! Avinash Khot</h1>
        
        
    </div>
</section>

</body>
</html>
