<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{Base::layout(~{::section})}"
    th:insert="~{Base::layout(~{::section})}">
<head>
    <meta charset="UTF-8" />
    <title>this is home page</title>
</head>
<body>

    <section class="content-custom">
        <div class="signup-container-custom">
            
            <div th:if="${session.message}"
                th:classappend="${session.message.type}" class="alert-custom">
                <p th:text="${session.message.content}"></p>
                <th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>
            </div>

            <h2 class="signup-title-custom">Register Here!!</h2>

            <form novalidate action="" th:action="@{/do_register}" method="post"
                th:object="${user}">
                
                <div class="form-group-custom">

                    <label for="name">Your Name</label>
                    <input name="name" type="text"
                        th:field="*{name}"
                        class="input-custom ${#fields.hasErrors('name') ? 'is-invalid-custom' : ''}"
                        id="name"
                        placeholder="Enter here"
                        required
                        th:value="${user.name}" />

                    <div class="invalid-feedback-custom" th:if="${#fields.hasErrors('name')}"
                        th:each="error : ${#fields.errors('name')}" th:text="${error}"></div>
                </div>

                <div class="form-group-custom">
                    <label for="email">Your Email</label>
                    <input name="email"
                        type="email" id="email" placeholder="Enter here" required
                        th:value="${user.email}">
                </div>

                <div class="form-group-custom">
                    <label for="password">Your Password</label>
                    <input name="password"
                        type="password" id="password" placeholder="Enter here" required>
                </div>

                <div class="form-group-custom">
                    <label for="about">About You</label>
                    <textarea name="about" id="about"
                        placeholder="Enter something about yourself" th:value="${user.about}"></textarea>
                </div>

                <!-- Term and condition agreement checkbox -->
                <div class="form-group-custom form-check-custom">
                    <label> 
                        <input type="checkbox" name="agreement" class="form-check-input-custom" id="agreement" required>
                        Accepted terms and conditions
                    </label>
                </div>

                <div class="form-buttons-custom">
                    <button type="submit" class="submit-btn-custom">Submit</button>
                    <button type="reset" class="reset-btn-custom">Reset</button>
                </div>
            </form>
        </div>
    </section>

</body>
</html>
